.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.slider-image {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-text {
  position: absolute;
  padding-left: 100px;
  top: 50%;
  left: 0;
  width: 45%;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.text-box {
  top: 50%;
  height: 30%;
}

.slider-controls {
  top: 100%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.slider-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
}

.active {
  left: 0;
}

.services .row {
  width: 100%;
}

.services .col:nth-of-type(odd) {
  background-color: silver;
  padding: 4%;
  text-align: center;
}

.services .col:nth-of-type(even) {
  background-color: white;
  padding: 4%;
  text-align: center;
}

.services img {
  height: 40px;
  margin: 30px;
}

.university-image-border {
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
}

.about-university .about-university-image {
  position: relative;
  top: 20px;
  height: 30px;
}

.about-university .col-sm-7 .row {
  margin-top: 50px;
}

.about-university .col-sm-6 {
  padding: 20px 0;
}

.university-text-border {
  position: relative;
  text-align: left;
  width: 75%;
}

.student-image-border, .university-info-image-border, .course-image-border {
  position: relative;
  width: 100%;
  height: 100%;
}

.student-image-border img, .university-info-image-2, .course-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.university-info-image-2 {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.university-info {
  position: relative;
  height: 700px;
  width: 100%;
}

.university-info-box {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10% 0;
}

.university-info .university-info-image-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.university-info .container {
  padding: 0;
}

.university-info .container .row:nth-child(1) {
  margin-bottom: 90px;
}

.university-info .container .row:nth-child(1) .col:nth-child(2) {
  padding: 0 10px 0 60px;
}

.university-info .container .row:nth-child(2) {
  text-align: center;
}

.university-info .container .row:nth-child(2) .col {
  padding: 0;
}

.items-box {
  padding: 100px 10px;
  height: auto;
}

.about-content-headers {
  margin-bottom: 50px;
}

.about-content-headers .headers {
  text-align: center;
  width: 60%;
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card .card-body {
  padding: 20px 0;
}

.card-adds {
  margin-top: 20px;
  position: relative;
  top: 5px;
  color: silver;
}

.card-adds span {
  position: relative;
  top: 3px;
}

.card-img-adds {
  height: 15px;
}

.teacher-box {
  background-color: rgba(233, 233, 233, 0.3);
}

.teacher-box .card {
  text-align: center;
  background-color: rgba(233, 233, 233, 0.015);
}

.teacher-box .card-img-top {
  height: 60vh;
}

.teacher-box .card-adds {
  margin: 0 0 10px 0;
}

input {
  background-color:transparent !important;
  border:none !important;
}

:-ms-input-placeholder {
  color: white;
}