<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'engine/javascript/javascript.js' %}"></script>
    <title>Your Cources</title>
</head>

<header>
    <div class="container">
        <div class="row row-cols-4">
            <div class="col-4">
                Column
            </div>
            <div class="col-3">
                Column
            </div>
            <div class="col-3">
                Column
            </div>
            <div class="col-2">
                Column
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <nav class="nav">
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>

</header>

<body>
    
    <div class="slider">
        <div class="slider-container">
            <div class="slider-image active">
                <img src="{% static 'images/1.jpg' %}" alt="Image 1">
                <div class="slider-text-box">
                    <div class="slider-text">
                        <div class="text-box"></div>
                            <h2>Заголовок 3</h2>
                            <p>Опис до картинки 3</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-image">
                <img src="{% static 'images/2.jpg' %}" alt="Image 2">
                <div class="slider-text-box">
                    <div class="slider-text">
                        <h2>Заголовок 3</h2>
                        <p>Опис до картинки 3</p>
                    </div>
                </div>
            </div>
            <div class="slider-image">
                <img src="{% static 'images/3.png' %}" alt="Image 3">
                <div class="slider-text-box">
                    <div class="slider-text">
                        <h2>Заголовок 3</h2>
                        <p>Опис до картинки 3</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="slider-controls">
                <button class="slider-button" onclick="changeSlide(-1)"></button>
                <button class="slider-button" onclick="changeSlide(1)"></button>
                <button class="slider-button" onclick="changeSlide(-1)"></button>
            </div>
      </div>

      <div class="services">
            <div class="row">
                <div class="col">
                    <img class="service-image" src="{% static 'images/marker.png' %}">
                    <h5>Service 1</h5>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col">
                    <img class="service-image" src="{% static 'images/house-building.png' %}">

                    <h5>Service 2</h5>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col">
                    <img class="service-image" src="{% static 'images/envelope.png' %}">

                    <h5>Service 3</h5>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col">
                    <img class="service-image" src="{% static 'images/globe.png' %}">

                    <h5>Service 4</h5>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>
      </div>

      <div class="about-university">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col">
                                <h1>What We Offer</h1>
                                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                            </div>
                        </div>
                        <div class="row row-cols-2 row-cols-lg-2">
                            <div class="col-8 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/apps.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Certified Teachers</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                            <div class="col-4 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/briefcase.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Safety First</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                            <div class="col-8 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/chart-histogram.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Sufficient Classrooms</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                            <div class="col-4 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/clock.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Regular Classes</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                            <div class="col-8 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/envelope.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Sports Facilities</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                            <div class="col-4 col-sm-6">
                                <div class="university-image-border">
                                    <img class="about-university-image" src="{% static 'images/list-check.png' %}">
                                </div>
                                <div class="university-text-border">
                                    <h4>Creative Lessons</h1>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="student-image-border">
                            <img src="{% static 'images/student.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="universiry-info">
                
            </div>
      </div>
      
      
      
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>