{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>About Us</h1>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                </div>
            </div>
        </div>
        <img src="{% static 'images/students.jpg' %}">
    </div>
    <div class="about-university">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col">
                            <h1>What We Offer</h1>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                        </div>
                    </div>
                    <div class="row row-cols-2 row-cols-lg-2">
                        <div class="col-8 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/apps.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Certified Teachers</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/briefcase.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Safety First</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                        <div class="col-8 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/chart-histogram.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Sufficient Classrooms</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/clock.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Regular Classes</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                        <div class="col-8 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/envelope.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Sports Facilities</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6">
                            <div class="university-image-border">
                                <img class="small-icon" src="{% static 'images/list-check.png' %}">
                            </div>
                            <div class="university-text-border">
                                <h4>Creative Lessons</h1>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="student-image-border">
                        <img src="{% static 'images/student.jpg' %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="university-info">
            <div class="university-info-box">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="university-info-image-border">
                                <img class="university-info-image-2" src="{% static 'images/student.jpg' %}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="university-info-text-border">
                                <h1>Fox University</h1>
                                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. <br> <br>

                                A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>18</h1>
                            <p>Certified Teachers</p>
                        </div>
                        <div class="col">
                            <h1>40</h1>
                            <p>Students</p>
                        </div>
                        <div class="col">
                            <h1>20</h1>
                            <p>Courses</p>
                        </div>
                        <div class="col">
                            <h1>46</h1>
                            <p>Awards Won</p>
                        </div>
                    </div> 
                </div>
                </div>
            <img class="university-info-image-1" src="{% static 'images/students.jpg' %}">
        </div>
    </div>

    {% include 'engine/galery.html' %}

{% endblock %}