{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>Our Blog</h1>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                </div>
            </div>
        </div>
        <img src="{% static 'images/students.jpg' %}">
    </div>

    <div class="items-box blog-box">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="{% static 'images/english course.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-adds">
                            <div class="row">
                                <div class="col">
                                    <span>Was updated</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark">Dark</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}