{% load static %}

{% block content %}
    <div class="galery">
        <div class="row">
            <div class="col">
                <div class="galery-image-border">
                    <img src="{% static 'images/student.jpg' %}">
                </div>
            </div>
            <div class="col">
                <div class="galery-image-border">
                    <img src="{% static 'images/student.jpg' %}">
                </div>
            </div>
            <div class="col">
                <div class="galery-image-border">
                    <img src="{% static 'images/student.jpg' %}">
                </div>
            </div>
            <div class="col">
                <div class="galery-image-border">
                    <img src="{% static 'images/student.jpg' %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}