.navbar {
  background-color: silver;
  width: 100%;
}

.navbar .nav-link {
  padding: 20px 15px;
  color: white;
}

.navbar .row {
  width: 100%;
}

.navbar form {
  width: 59%;
  padding: 15px;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-introduction {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.slider-image {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-text {
  position: absolute;
  padding: 250px 0 0 100px;
  text-align: center;
  top: 50%;
  left: 0;
  width: 45%;
  height: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.slider-controls {
  top: 100%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.slider-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
}

.active {
  left: 0;
}

.servises .row {
  width: 100%;
}

.servises .col:nth-of-type(odd) {
  background-color: silver;
  padding: 4%;
  text-align: center;
}

.servises .col:nth-of-type(even) {
  background-color: white;
  padding: 4%;
  text-align: center;
}

.servise-image {
  height: 40px;
  margin: 30px;
}

.university-image-border {
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
}

.small-icon {
  position: relative;
  top: 20px;
  height: 30px;
}

.about-university .col-sm-7 .row {
  margin-top: 50px;
}

.about-university .col-sm-6 {
  padding: 20px 0;
}

.university-text-border {
  position: relative;
  text-align: left;
  width: 75%;
}

.student-image-border, .university-info-image-border, .course-image-border .galery-image-border, .footer-image-border {
  position: relative;
  width: 100%;
  height: 100%;
}

.student-image-border img, .university-info-image-2, .course-image, .galery-image-border img, .page-banner img, footer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.university-info-image-2 {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.galery-image-border img {
  position: relative;
  height: 50vh;
}

.university-info {
  position: relative;
  height: 700px;
  width: 100%;
}

.university-info-box {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10% 0;
}

.university-info .university-info-image-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.university-info .container {
  padding: 0;
}

.university-info .container .row:nth-child(1) {
  margin-bottom: 90px;
}

.university-info .container .row:nth-child(1) .col:nth-child(2) {
  padding: 0 10px 0 60px;
}

.university-info .container .row:nth-child(2) {
  text-align: center;
}

.university-info .container .row:nth-child(2) .col {
  padding: 0;
}

.items-box, footer {
  padding: 100px 10px;
  height: auto;
}

footer {
  background-color: rgb(26, 26, 26);
  color:#fff;
}

.about-content-headers {
  margin-bottom: 50px;
}

.about-content-headers .headers {
  text-align: center;
  width: 60%;
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card .card-body {
  padding: 20px 0;
}

.card-adds {
  margin-top: 20px;
  position: relative;
  top: 5px;
  color: silver;
}

.card-adds span {
  position: relative;
  top: 3px;
}

.card-img-adds {
  height: 15px;
}

.teacher-box, .blog-box {
  background-color: rgba(233, 233, 233, 0.3);
}

.teacher-box .card {
  text-align: center;
  background-color: rgba(233, 233, 233, 0.015);
}

.teacher-box .card-img-top {
  height: 60vh;
}

.teacher-box .card-adds {
  margin: 0 0 10px 0;
}

.blog-box .card-adds {
  margin: 0 0 10px 0;
}

.blog-box .card-adds span {
  top: 0;
}

.blog-box .card-body {
  padding-bottom: 0;
}

.request .university-info-image-1, .request .university-info {
  height: 650px;
}

.university-info-text-border {
  margin-bottom: 50px;
}

.request .container .row:nth-child(1) {
  margin-bottom: 0;
}

.request input, .request textarea, .request select {
  background-color: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
  margin-bottom: 30px !important;
  color: white !important;
}

.form-control::placeholder {
  color: white !important;
}

select option {
  color: black !important;
}

.request .form-select, textarea {
  height: 48px;
}

.galery .col {
  padding: 0;
}

.galery .row {
  width: 100%;
  margin: 0;
}

footer .row .row-cols-2, .row .row-cols-3, .links-box {
  margin-top: 50px;
}

footer .row .row-cols-2 span {
  display: block;
  padding: 10px 0;
}

footer .small-icon {
  position: relative;
  top: 0;
  height: 20px;
}

.social-network-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.social-network-link img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

footer .row .row-cols-3 .col {
  padding: 0 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.page-banner {
  position: relative;
  width: 100%;
  height: 400px;
}

.page-banner .row {
  position: absolute;
  padding:  120px 0;
  width: 100%;
  text-align: center;
  height: 400px;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

}

.page-banner .row p {
  padding: 0 150px;
}

.contact {
  padding: 100px 0;
  text-align: center;
}

.access {
  padding: 40px 0;
}

.access h5 {
  text-align: center;
  margin-bottom: 20px;
}

.access .row {
  height: 100%;
  padding: 20px 0;
}

.sign-in-box {
  width: 100%;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(140, 140, 140);
  border-radius: 3px;
  padding: 20px;
}

.sign-in-box .input-group {
  padding: 5px 0 25px 0;
}

.sign-in-box .form-select {
  margin: 5px 0 25px 0;
}


.sign-in-box label {
  margin: 0;
}

.sign-in-box button {
  width: 100%;
}

.smaller-box {
  text-align: center;
  padding: 20px 0 15px 0;
  margin: 10px 0;
  border: 1px solid rgb(140, 140, 140);
  border-radius: 3px;
}

#forgot-password-link {
  float:right;
}

.form-select {

}